<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="andy.dao.ChannelMapper" >
  <!-- <resultMap id="BaseResultMap" type="andy.model.Channel" >
    <id column="cId" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="VARCHAR" />
    <result column="stopTime" property="stoptime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cId, name, status, startTime, stopTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from channel
    where cId = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from channel
    where cId = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="andy.model.Channel" >
    insert into channel (cId, name, status, 
      startTime, stopTime)
    values (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=VARCHAR}, #{stoptime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="andy.model.Channel" >
    insert into channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="stoptime != null" >
        stopTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="stoptime != null" >
        #{stoptime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.Channel" >
    update channel
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="stoptime != null" >
        stopTime = #{stoptime,jdbcType=VARCHAR},
      </if>
    </set>
    where cId = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.Channel" >
    update channel
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=VARCHAR},
      stopTime = #{stoptime,jdbcType=VARCHAR}
    where cId = #{cid,jdbcType=INTEGER}
  </update> -->
</mapper>